*{
  font-family: arial;
 }

h1 {
    font-family: Freestyle Script;
    color: blue;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    }

.bodybox {
  border-style: solid;
  border-color: black;
  width: 50%;
  margin: 10px;
    }


